.userCreated
  .userCreated__header
    = image_tag("logo.png",class: "logo")
  .userCreated__content
    %h1 ログイン
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :email, "メールアドレス", {class: "label"}
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .field
        = f.label :password, "パスワード", {class: "label"}
        %br/
        = f.password_field :password, autocomplete: "current-password"
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me, "この情報を記憶しておきます。", {class: "label"}
      .actions
        = f.submit "Log in", {class: "btn"}
    -# = render "devise/shared/links"
