%table.item-information__various-info
  %tr
    %th 
      出品者
    %td 
      = @item.user.nickname
  %tr
    %th 
      カテゴリー
    %td
      = link_to "カテゴリー機能が完成次第実装", "#", class: "category-link"
  %tr
    %th 
      ブランド
    %td 
      = @item.brand
  %tr
    %th 
      商品の状態
    %td 
      = @item.status.name
  %tr
    %th 
      配送料の負担
    %td   
      = @item.shipping_fee.name
  %tr
    %th 
      発送方法
    %td
      = @item.shipping_way.name
  %tr
    %th 
      発送日の目安
    %td 
      = @item.shipping_day.name