.appbanner
  .inner
    .inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    .inner__text
      今すぐ無料ダウンロード！
    .inner__icon
      = link_to image_tag("kisspng-app-store-apple-download-logo-app-store-5b500d98b7efd5.2471397315319730167534.png", class: "icon-a")
      = link_to image_tag("get-it-on-google-play-png-get-it-on-google-play-png-519.png", class: "icon-g")
   
%footer
  %ul.contents
    %li.content
      .content__header
        FURIMAについて
        %ul
          %li
            = link_to do
              会社概要（運営会社）
          %li
            = link_to do
              プライバシーポリシー
          %li
            = link_to do
              FURIMA利用規約
          %li
            = link_to do
              ポイントに関する特約
    %li.content
      .content__header
        FURIMAを見る
      %ul
        %li
          = link_to do
            カテゴリー一覧
        %li
          = link_to do
            ブランド一覧
    %li.content
      .content__header
        ヘルプ＆ガイド
      %ul
        %li
          = link_to do
            FURIMAガイド
        %li
          = link_to do
            FURIMAロゴ利用ガイドライン
        %li
          = link_to do
            お知らせ

  .footer-logo
    .logo-box
      = link_to image_tag("logo-white.png", class: "logo-box__logo"),root_path
  .copy
    © FURIMA   

.p-btn
  .p-btn__text
    出品する
  .p-btn__icon
    = link_to image_tag("icon_camera.png", class: "tag") 