= render "header"

.main-buy
  .simple-information
    .simple-information__image
      = image_tag @item.item_photos.find_by(params[:id]).image
    .simple-information__form
      .item-name
        = @item.name
      .amount
        .amount__shipping-fee
          = @item.shipping_fee
        .amount__price
          = "#{@item.price}円"
  .buy-form
    = render "detail-table"
    .payment
      .payment__method
        .text
          お支払い方法
        .credit-card
          商品購入機能にて実装
      .payment__price
        .text
          お支払い金額
        .price
          = "#{@item.price}円(税込)"
    .shipping-area
      .text
        配送先
      .value
        ユーザー情報の実装完了次第実装
    = link_to "#", class: "purchase-btn" do
      .purchase-btn__text
        購入する
= render "footer"